<html>
    <head>
        <title>Contact Page</title>
    <link rel="stylesheet" href="/static/Complex/css/style.css">
</head>
    <body>
        <div style="width: 50%; float:left;">
            <h2>Contact Information</h2>
            <p>If you have any inquiries, please don't hesitate to contact me!</p>
        </div>
        <div style="width: 50%; float:right;"><h2>David Bukedi Diela</h2>
            <p>Phone: +8619817155302</p>
        </div>
    <script src="/static/Complex/js/script.js"></script>
</body>
</html>