about the company

<html>
  <head>
    <title>Welcome to Our Company!</title>
  <link rel="stylesheet" href="/static/Complex/css/style.css">
</head>
  <body>
    <h1>Welcome to Our Company!</h1>
    <p>We are a small business located in the heart of the city. Our mission is to provide quality products and services to our customers. We strive to create lasting relationships with our customers and provide them with the best possible experience.We take great pride in our work and look forward to serving you!</p>
  <script src="/static/Complex/js/script.js"></script>
</body>
</html>